header{
    height: 100vh;
    padding-top: 5rem;
   
   
}
.header_container{
    height: 100%;
    text-align: center;
    position: relative;
}

.cta{
    margin-top:  2.5rem ;
    display: flex;
    gap: 1rem;
    justify-content: center;

}

.headersocials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
   
}
.headersocials::after{
    content: "";
    width: 1px;
    height: 2rem;
    background-color: var(--color-primary);
}
.me{
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 22rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    animation: animate 5s ease-in-out infinite;
    transition: all 1s ease-in-out;
}
@keyframes animate {
   0%{
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
   
   }
    
   
   50%{
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
   
   }
   
   100%{
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
   
   }
  
}
.ME{
    height: 100%;
    animation: animate2 7s ease-in-out infinite;
    box-shadow: 0 5px 10px var(--color-bg);
    
}
@keyframes animate2 {
  0%{
    border-radius: 80% 40% 30% 60% / 60% 40% 70% 30%;
   
   }
    
   
   50%{
    border-radius: 40% 70% 60% 30% / 70% 30% 50% 40%;
   
   }
   
   100%{
    border-radius: 80% 40% 30% 60% / 60% 40% 70% 30%;
   
   }
}
.scroll_down{
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

/*================== MEDIA QUERIES (MEDIUM DEVICES) ================*/
@media screen  and (max-width:1024px) {
  header{
    height: 68vh;
    overflow: visible;
  }
  

  
}

/*================== MEDIA QUERIES (SMALLER DEVICES) ================*/
@media screen  and (max-width:600px) {
  header{
    height: 85vh;
    padding-top: 4rem;
  }
  .container{
    width: var(--container-width-sm);
    padding: 0;
    
  }
  .headersocials, .scroll_down{
    display: none;
  }
  
 
}
