header{
    height: 100vh;
    display: block;
    overflow: hidden;
    padding: 3rem 0;
   
}
.header_container{
    position: relative;
    text-align: center;
    background-color: rgba(0, 128, 0, 0);
}
.wrapper{
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
 
  
}
.cta{
    margin:  2.5rem 0;
    display: flex;
    gap: 1rem;
    justify-content: center;

}

.headersocials{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.headersocials::after{
    content: "";
    width: 1px;
    height: 2rem;
    background-color: var(--color-primary);
}
.me{
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 22rem;
    padding: 0.7rem;
    animation: animate 5s ease-in-out infinite;
    transition: all 1s ease-in-out;
}
@keyframes animate {
   0%{
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
   
   }
    
   
   50%{
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
   
   }
   
   100%{
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
   
   }
  
}
.ME{
    width: 100%;
    height: 100%;
    animation: animate2 7s ease-in-out infinite;
    box-shadow: 0 5px 10px var(--color-bg);
    
}
@keyframes animate2 {
  0%{
    border-radius: 80% 40% 30% 60% / 60% 40% 70% 30%;
   
   }
    
   
   50%{
    border-radius: 40% 70% 60% 30% / 70% 30% 50% 40%;
   
   }
   
   100%{
    border-radius: 80% 40% 30% 60% / 60% 40% 70% 30%;
   
   }
}
.scroll_down{
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

/*================== MEDIA QUERIES (MEDIUM DEVICES) ================*/
@media screen  and (max-width:1024px) {
  header{
    height: 74vh;
    
  }
  

  
}

/*================== MEDIA QUERIES (SMALLER DEVICES) ================*/
@media screen  and (max-width:600px) {
  header{
    height: 100vh;
    
  }
  .headersocials, .scroll_down{
    display: none;
  }
  me{
    margin: auto;
  }
  .wrapper{
    align-items: center;
    justify-content: space-around;
  }
}
